*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
   
}
:root{
    --primary-color: #F3EFE8;
    --secondary-color: #212121;

}
.dark-theme{
    --primary-color: #212121;
    --secondary-color: #F3EFE8;
}

.containe{
    background: var(--primary-color);
    width: 100% !important;
    height: 100%;
}
.containe header{
    padding: 20px;
    border-bottom: 1px solid rgb(128, 128, 128);
    color: var(--secondary-color);
}
.containe header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containe header nav .left h3{
    font-size: 23px;

}
.containe header nav .right ul{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.containe header nav .right ul li{
    margin-left: 25px;
    cursor: pointer;
}
.containe header nav .right ul li .menu{
    font-size: 30px;
}
 /* panel */
 .panel{
     width: 230px;
     height: 100vh;
     background-color: white;
     box-shadow: 2px 20px 25px rgba(125, 125, 125, 0.197);
     position: fixed;
     top: 0px;
     right: -300px;
     padding: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: .3s ease-in;
     z-index: 999;
 }
 .panel.open{
     right: 0px;
 }
 .panel i{
     position: absolute;
     top: 20px;
     left: 20px;
     cursor: pointer;
 }
 .panel ul{
     list-style: none;
     text-align: center;
     font-size: 22px;

 }
 .panel ul li{
     margin-top: 20px;
     cursor: pointer;
 }

 .panel ul li a{
     text-decoration: none;
     color: black;
 }
 .panel ul li a:active{
     color: #34A687;
 }
 /* hero */

 .hero{
     max-width: 1200px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .hero .hero-left{
     width: 50%;
     color: var(--secondary-color)
 }
 .hero .hero-left .fp{
     margin-bottom: 10px;
     font-weight: bold;
 }
 .hero .hero-left .fp span{
    color: #34A687;
 }
 .hero .hero-left .sp{
    margin-bottom: 10px;
    font-weight: bold;
}
.hero .hero-left .sp span{
    color: #34A687;
    font-size: 25px;
    font-style: italic;
    font-weight: 200;
 }
.hero .hero-left h3{
    font-size: 85px;
    font-weight: bold;
    
}
.hero .hero-left h3 span{
    color: #34A687;
}

.hero .hero-left .info{
    font-size: 16px;
    margin-bottom: 20px;
}
.hero .hero-left .social ul{
    list-style: none;
    display: flex;
    font-size: 24px;
    margin-bottom: 20px;
}
.hero .hero-left .social ul li{
    margin-left: 10px;
}
.hero .hero-left button{
    padding : 12px 18px;
    border-radius: 10px;
    border: 1px solid black;
}
.hero .hero-right img{
    width: 650px;
    height: 100%;
  
 }

/* tab */
.tab{
    display: flex;
    justify-content: center;
}




/* contact */

.contact{
    max-width: 1000px;
    margin: auto;
    /* text-align: center; */
}
.contact h3{
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}
.contact .form-info{
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}
.contact .formpanel{
    display: flex;
    justify-content: space-between;
}

.hidden{
    display: none;
}
.show{
    display: block;
}
.contact .form-right{
    width : 60%;
    color: var(--secondary-color) !important;
}
.contact {
    color: var(--secondary-color) !important;
}
.contact .form-left{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}
.contact .form-left .info-box{
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    color: var(--secondary-color) !important;
    /* border: 1px solid black; */
}
.contact .form-left .info-box i{
    font-size: 28px;
    margin-right: 10px;
    color: #34A687 !important;
}
.contact .form-left .info-box h5{
    font-size: 16px;
    font-weight: bold;
    color: var(--secondary-color) !important;
}


form .input-box{
    display: flex;
    text-align: left;
    margin-bottom: 10px;
}
form .input-box label{
    font-size: 14px;
    color: var(--secondary-color) !important;
}
form .input-box .field input{
    width: 100%;
    height: 30px;
}


.form-right{
    /* border: 1px solid black; */
    width: 50%;
}


 /* footer */
 footer{
     max-width: 1200px;
     margin: auto;
     display: flex;
     margin-top: 40px;
     justify-content: space-between;
     padding-top: 30px;
     padding-bottom: 30px;
     border-top: 1px solid rgb(128, 128, 128);
     color: var(--secondary-color) !important;
 }

 footer .social ul{
    list-style: none;
    display: flex;
    font-size: 24px;
    color: var(--secondary-color) !important;
}

.social ul li{
    margin-left: 10px;
    color: var(--secondary-color) !important;
}

/* Resume */

.head{
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 40px;
    margin-top:60px;
}
.head h2{
    font-size: 35px;
    font-weight: 200;
    color: var(--secondary-color) !important;
   
}
.resume{
    width: 1000px;
    margin: auto;
    margin-bottom: 40px;
   
}
.resume .row{
    margin: auto !important;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-item{
    background-color: none !important;
}
.accordion-header{
    background-color: none !important;
}

.accordion-header button{
    background-color: none !important;
}
.card-container{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.card-box{
    display: flex;

    justify-content: space-evenly;
}
.tab-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.single-box{
    background: white;
    padding: 30px 30px;
    width: 320px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.206);
}
.single-box .imgbox{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    border-radius: 12px ;
    margin-bottom: 15px;
}
.single-box h6{
    font-size: 12px;
    font-weight: bold;
    color: #34A687;
    margin-top: 10px;
    margin-bottom: -1px;
}
.single-box .imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.single-box h5{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #34A687;
}
.single-box h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.single-box button{
    background: none;
    border: none;
    margin-top: 30px;
}
.single-box button i{
    margin-left: 10px;
    color: #34A687;
}
.single-box p{
    font-size: 12px;
}

.page{
    margin-top: 30px !important;
}

.nav-link.active{
    color: #34A687 !important;
}
.nav-link {
    color: var(--secondary-color) !important;
}

.development.hidden{
    display: none;
}
.ui-ux.hidden{
    display: none;
}
.branding.hidden{
    display: none;
}
.education.hidden{
    display: none;
}
.experince.hidden{
    display: none;
}
